In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy import stats

# Set up read of csv file
netflix_path = "netflix_template.csv"

netflix_info = pd.read_csv(netflix_path)

# testing to ensure csv was read
netflix_info.head()

,show_id,type,title,director,cast,country,country.1,country.2,YEAR_added,release_year,rating,duration,TYPE1/listed_in,TYPE2,TYPE3,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,NaN,NaN,2020.0,2020,TV-MA,4 Seasons,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy,In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,NaN,NaN,2016.0,2016,TV-MA,93 min,Dramas,International Movies,NaN,After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,NaN,NaN,2018.0,2011,R,78 min,Horror Movies,International Movies,NaN,"When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,NaN,NaN,2017.0,2009,PG-13,80 min,Action & Adventure,Independent Movies,Sci-Fi & Fantasy,"In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,NaN,NaN,2020.0,2008,PG-13,123 min,Dramas,NaN,NaN,A brilliant group of students become card-coun...

In [11]:
# breaking down to have a data frame of only tv shows on Netflix
netflix_tvshows = netflix_info.loc[netflix_info["type"]=="TV Show"]
netflix_tvshows_df = pd.DataFrame(netflix_tvshows)
netflix_tvshows_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2410 entries, 0 to 7785
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          2410 non-null   object
 1   type             2410 non-null   object
 2   title            2410 non-null   object
 3   director         184 non-null    object
 4   cast             2118 non-null   object
 5   country          2133 non-null   object
 6   country.1        224 non-null    object
 7   country.2        66 non-null     object
 8   YEAR_added       2312 non-null   float64
 9   release_year     2410 non-null   int64
 10  rating           2408 non-null   object
 11  duration         2410 non-null   object
 12  TYPE1/listed_in  2410 non-null   object
 13  TYPE2            1923 non-null   object
 14  TYPE3            1192 non-null   object
 15  description      2410 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 320.1+ KB

In [10]:
# breaking down to have a data frame of only movies on Netflix
netflix_movies = netflix_info.loc[netflix_info["type"]=="Movie"]
netflix_movies_df = pd.DataFrame(netflix_movies)
netflix_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5377 entries, 1 to 7786
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          5377 non-null   object
 1   type             5377 non-null   object
 2   title            5377 non-null   object
 3   director         5214 non-null   object
 4   cast             4951 non-null   object
 5   country          5147 non-null   object
 6   country.1        926 non-null    object
 7   country.2        324 non-null    object
 8   YEAR_added       5377 non-null   float64
 9   release_year     5377 non-null   int64
 10  rating           5372 non-null   object
 11  duration         5377 non-null   object
 12  TYPE1/listed_in  5377 non-null   object
 13  TYPE2            4063 non-null   object
 14  TYPE3            2106 non-null   object
 15  description      5377 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 714.1+ KB

In [3]:
# getting the total number of tv shows
show_counts = netflix_tvshows["show_id"].value_counts()
total_shows = len(show_counts)
total_shows

2410

In [12]:
# getting the total number of movies
movie_counts = netflix_movies["show_id"].value_counts()
total_movies = len(movie_counts)
total_movies

5377

In [4]:
# creating data frame of total number of tv shows and movies for 2014
netflix_total_2014 = netflix_info.loc[netflix_info["YEAR_added"]==2014]
netflix_2014 = pd.DataFrame(netflix_total_2014)
#netflix_2014

# calculating total number of tv shows and movies for 2014
netflix_2014_num = netflix_2014["show_id"].value_counts()
total_14 = len(netflix_2014_num)
total_14

24

In [6]:
# breaking down data frame into shows added in 2014
netflix_tvshows2014 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2014]
netflix_shows2014 = pd.DataFrame(netflix_tvshows2014)
netflix_shows2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 2498 to 7520
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          5 non-null      object
 1   type             5 non-null      object
 2   title            5 non-null      object
 3   director         0 non-null      object
 4   cast             5 non-null      object
 5   country          5 non-null      object
 6   country.1        3 non-null      object
 7   country.2        1 non-null      object
 8   YEAR_added       5 non-null      float64
 9   release_year     5 non-null      int64
 10  rating           5 non-null      object
 11  duration         5 non-null      object
 12  TYPE1/listed_in  5 non-null      object
 13  TYPE2            3 non-null      object
 14  TYPE3            1 non-null      object
 15  description      5 non-null      object
dtypes: float64(1), int64(1), object(14)
memory usage: 680.0+ bytes

In [14]:
# breaking down data frame into movies added in 2014
netflix_movies2014 = netflix_movies_df.loc[netflix_movies_df["YEAR_added"]==2014]
netflix_movies_14 = pd.DataFrame(netflix_movies2014)
netflix_movies_14.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 914 to 7680
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          19 non-null     object
 1   type             19 non-null     object
 2   title            19 non-null     object
 3   director         18 non-null     object
 4   cast             15 non-null     object
 5   country          19 non-null     object
 6   country.1        4 non-null      object
 7   country.2        2 non-null      object
 8   YEAR_added       19 non-null     float64
 9   release_year     19 non-null     int64
 10  rating           19 non-null     object
 11  duration         19 non-null     object
 12  TYPE1/listed_in  19 non-null     object
 13  TYPE2            7 non-null      object
 14  TYPE3            0 non-null      object
 15  description      19 non-null     object
dtypes: float64(1), int64(1), object(14)
memory usage: 2.5+ KB

In [7]:
# creating calculations to show total count of tv shows in 2014
show_counts14 = netflix_shows2014["show_id"].value_counts()
total_shows14 = len(show_counts14)
#total_shows14

# calculating percentage of tv shows in 2014
shows_per_14 = (100*(total_shows14 / total_14))
shows_per_14

20.833333333333336

In [18]:
# creating calculations to show total count of movies in 2014
movie_counts14 = netflix_movies_14["show_id"].value_counts()
total_movies14 = len(movie_counts14)
#total_movies14

# calculating percentage of tv shows in 2014
movies_per_14 = (100*(total_movies14 / total_14))
movies_per_14

79.16666666666666

In [ ]:
# creating pie chart for comparison

In [4]:
# breaking down data frame into shows added in 2015
netflix_tvshows2015 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2015]
netflix_shows2015 = pd.DataFrame(netflix_tvshows2015)
netflix_shows2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 610 to 7542
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          21 non-null     object
 1   type             21 non-null     object
 2   title            21 non-null     object
 3   director         3 non-null      object
 4   cast             19 non-null     object
 5   country          20 non-null     object
 6   country.1        4 non-null      object
 7   country.2        1 non-null      object
 8   YEAR_added       21 non-null     float64
 9   release_year     21 non-null     int64
 10  rating           21 non-null     object
 11  duration         21 non-null     object
 12  TYPE1/listed_in  21 non-null     object
 13  TYPE2            14 non-null     object
 14  TYPE3            10 non-null     object
 15  description      21 non-null     object
dtypes: float64(1), int64(1), object(14)
memory usage: 2.8+ KB

In [5]:
# breaking down data frame into shows added in 2016
netflix_tvshows2016 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2016]
netflix_shows2016 = pd.DataFrame(netflix_tvshows2016)
netflix_shows2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 137 to 7767
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          174 non-null    object
 1   type             174 non-null    object
 2   title            174 non-null    object
 3   director         8 non-null      object
 4   cast             160 non-null    object
 5   country          164 non-null    object
 6   country.1        27 non-null     object
 7   country.2        14 non-null     object
 8   YEAR_added       174 non-null    float64
 9   release_year     174 non-null    int64
 10  rating           173 non-null    object
 11  duration         174 non-null    object
 12  TYPE1/listed_in  174 non-null    object
 13  TYPE2            128 non-null    object
 14  TYPE3            96 non-null     object
 15  description      174 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 23.1+ KB

In [6]:
# breaking down data frame into shows added in 2017
netflix_tvshows2017 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2017]
netflix_shows2017 = pd.DataFrame(netflix_tvshows2017)
netflix_shows2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337 entries, 5 to 7766
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          337 non-null    object
 1   type             337 non-null    object
 2   title            337 non-null    object
 3   director         31 non-null     object
 4   cast             304 non-null    object
 5   country          296 non-null    object
 6   country.1        24 non-null     object
 7   country.2        8 non-null      object
 8   YEAR_added       337 non-null    float64
 9   release_year     337 non-null    int64
 10  rating           337 non-null    object
 11  duration         337 non-null    object
 12  TYPE1/listed_in  337 non-null    object
 13  TYPE2            291 non-null    object
 14  TYPE3            183 non-null    object
 15  description      337 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 44.8+ KB

In [7]:
# breaking down data frame into shows added in 2018
netflix_tvshows2018 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2018]
netflix_shows2018 = pd.DataFrame(netflix_tvshows2018)
netflix_shows2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 11 to 7759
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          406 non-null    object
 1   type             406 non-null    object
 2   title            406 non-null    object
 3   director         23 non-null     object
 4   cast             349 non-null    object
 5   country          331 non-null    object
 6   country.1        39 non-null     object
 7   country.2        11 non-null     object
 8   YEAR_added       406 non-null    float64
 9   release_year     406 non-null    int64
 10  rating           405 non-null    object
 11  duration         406 non-null    object
 12  TYPE1/listed_in  406 non-null    object
 13  TYPE2            321 non-null    object
 14  TYPE3            201 non-null    object
 15  description      406 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 53.9+ KB

In [8]:
# breaking down data frame into shows added in 2019
netflix_tvshows2019 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2019]
netflix_shows2019 = pd.DataFrame(netflix_tvshows2019)
netflix_shows2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 639 entries, 12 to 7779
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          639 non-null    object
 1   type             639 non-null    object
 2   title            639 non-null    object
 3   director         35 non-null     object
 4   cast             567 non-null    object
 5   country          556 non-null    object
 6   country.1        45 non-null     object
 7   country.2        9 non-null      object
 8   YEAR_added       639 non-null    float64
 9   release_year     639 non-null    int64
 10  rating           639 non-null    object
 11  duration         639 non-null    object
 12  TYPE1/listed_in  639 non-null    object
 13  TYPE2            535 non-null    object
 14  TYPE3            341 non-null    object
 15  description      639 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 84.9+ KB

In [9]:
# breaking down data frame into shows added in 2020
netflix_tvshows2020 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2020]
netflix_shows2020 = pd.DataFrame(netflix_tvshows2020)
netflix_shows2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 696 entries, 0 to 7785
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          696 non-null    object
 1   type             696 non-null    object
 2   title            696 non-null    object
 3   director         74 non-null     object
 4   cast             596 non-null    object
 5   country          638 non-null    object
 6   country.1        66 non-null     object
 7   country.2        20 non-null     object
 8   YEAR_added       696 non-null    float64
 9   release_year     696 non-null    int64
 10  rating           696 non-null    object
 11  duration         696 non-null    object
 12  TYPE1/listed_in  696 non-null    object
 13  TYPE2            533 non-null    object
 14  TYPE3            313 non-null    object
 15  description      696 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 92.4+ KB

In [10]:
# breaking down data frame into shows added in 2021
netflix_tvshows2021 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2021]
netflix_shows2021 = pd.DataFrame(netflix_tvshows2021)
netflix_shows2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 980 to 6701
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          29 non-null     object
 1   type             29 non-null     object
 2   title            29 non-null     object
 3   director         4 non-null      object
 4   cast             24 non-null     object
 5   country          24 non-null     object
 6   country.1        3 non-null      object
 7   country.2        1 non-null      object
 8   YEAR_added       29 non-null     float64
 9   release_year     29 non-null     int64
 10  rating           29 non-null     object
 11  duration         29 non-null     object
 12  TYPE1/listed_in  29 non-null     object
 13  TYPE2            23 non-null     object
 14  TYPE3            10 non-null     object
 15  description      29 non-null     object
dtypes: float64(1), int64(1), object(14)
memory usage: 3.9+ KB