In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy import stats

# Set up read of csv file
netflix_path = "netflix_template.csv"

netflix_info = pd.read_csv(netflix_path)

# testing to ensure csv was read
netflix_info.head()

,show_id,type,title,director,cast,country,country.1,country.2,YEAR_added,release_year,rating,duration,TYPE1/listed_in,TYPE2,TYPE3,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,NaN,NaN,2020.0,2020,TV-MA,4 Seasons,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy,In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,NaN,NaN,2016.0,2016,TV-MA,93 min,Dramas,International Movies,NaN,After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,NaN,NaN,2018.0,2011,R,78 min,Horror Movies,International Movies,NaN,"When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,NaN,NaN,2017.0,2009,PG-13,80 min,Action & Adventure,Independent Movies,Sci-Fi & Fantasy,"In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,NaN,NaN,2020.0,2008,PG-13,123 min,Dramas,NaN,NaN,A brilliant group of students become card-coun...

In [2]:
netflix_tvshows = netflix_info.loc[netflix_info["type"]=="TV Show"]
netflix_tvshows_df = pd.DataFrame(netflix_tvshows)
netflix_tvshows_df.head()

,show_id,type,title,director,cast,country,country.1,country.2,YEAR_added,release_year,rating,duration,TYPE1/listed_in,TYPE2,TYPE3,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,NaN,NaN,2020.0,2020,TV-MA,4 Seasons,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy,In a future where the elite inhabit an island ...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,NaN,NaN,2017.0,2016,TV-MA,1 Season,International TV Shows,TV Dramas,TV Mysteries,A genetics professor experiments with a treatm...
11,s12,TV Show,1983,NaN,"Robert Więckiewicz, Maciej Musiał, Michalina O...",Poland,United States,NaN,2018.0,2018,TV-MA,1 Season,Crime TV Shows,International TV Shows,TV Dramas,"In this dark alt-history thriller, a naïve law..."
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,NaN,NaN,2019.0,2019,TV-MA,1 Season,Crime TV Shows,Docuseries,International TV Shows,Archival video and new interviews examine Mexi...
16,s17,TV Show,9-Feb,NaN,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",NaN,NaN,NaN,2019.0,2018,TV-14,1 Season,International TV Shows,TV Dramas,NaN,"As a psychology professor faces Alzheimer's, h..."

In [3]:
netflix_tvshows2014 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2014]
netflix_shows2014 = pd.DataFrame(netflix_tvshows2014)
netflix_shows2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 2498 to 7520
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          5 non-null      object
 1   type             5 non-null      object
 2   title            5 non-null      object
 3   director         0 non-null      object
 4   cast             5 non-null      object
 5   country          5 non-null      object
 6   country.1        3 non-null      object
 7   country.2        1 non-null      object
 8   YEAR_added       5 non-null      float64
 9   release_year     5 non-null      int64
 10  rating           5 non-null      object
 11  duration         5 non-null      object
 12  TYPE1/listed_in  5 non-null      object
 13  TYPE2            3 non-null      object
 14  TYPE3            1 non-null      object
 15  description      5 non-null      object
dtypes: float64(1), int64(1), object(14)
memory usage: 680.0+ bytes

In [4]:
netflix_tvshows2015 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2015]
netflix_shows2015 = pd.DataFrame(netflix_tvshows2015)
netflix_shows2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 610 to 7542
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          21 non-null     object
 1   type             21 non-null     object
 2   title            21 non-null     object
 3   director         3 non-null      object
 4   cast             19 non-null     object
 5   country          20 non-null     object
 6   country.1        4 non-null      object
 7   country.2        1 non-null      object
 8   YEAR_added       21 non-null     float64
 9   release_year     21 non-null     int64
 10  rating           21 non-null     object
 11  duration         21 non-null     object
 12  TYPE1/listed_in  21 non-null     object
 13  TYPE2            14 non-null     object
 14  TYPE3            10 non-null     object
 15  description      21 non-null     object
dtypes: float64(1), int64(1), object(14)
memory usage: 2.8+ KB

In [5]:
netflix_tvshows2016 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2016]
netflix_shows2016 = pd.DataFrame(netflix_tvshows2016)
netflix_shows2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 137 to 7767
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          174 non-null    object
 1   type             174 non-null    object
 2   title            174 non-null    object
 3   director         8 non-null      object
 4   cast             160 non-null    object
 5   country          164 non-null    object
 6   country.1        27 non-null     object
 7   country.2        14 non-null     object
 8   YEAR_added       174 non-null    float64
 9   release_year     174 non-null    int64
 10  rating           173 non-null    object
 11  duration         174 non-null    object
 12  TYPE1/listed_in  174 non-null    object
 13  TYPE2            128 non-null    object
 14  TYPE3            96 non-null     object
 15  description      174 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 23.1+ KB

In [6]:
netflix_tvshows2017 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2017]
netflix_shows2017 = pd.DataFrame(netflix_tvshows2017)
netflix_shows2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337 entries, 5 to 7766
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          337 non-null    object
 1   type             337 non-null    object
 2   title            337 non-null    object
 3   director         31 non-null     object
 4   cast             304 non-null    object
 5   country          296 non-null    object
 6   country.1        24 non-null     object
 7   country.2        8 non-null      object
 8   YEAR_added       337 non-null    float64
 9   release_year     337 non-null    int64
 10  rating           337 non-null    object
 11  duration         337 non-null    object
 12  TYPE1/listed_in  337 non-null    object
 13  TYPE2            291 non-null    object
 14  TYPE3            183 non-null    object
 15  description      337 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 44.8+ KB

In [7]:
netflix_tvshows2018 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2018]
netflix_shows2018 = pd.DataFrame(netflix_tvshows2018)
netflix_shows2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 11 to 7759
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          406 non-null    object
 1   type             406 non-null    object
 2   title            406 non-null    object
 3   director         23 non-null     object
 4   cast             349 non-null    object
 5   country          331 non-null    object
 6   country.1        39 non-null     object
 7   country.2        11 non-null     object
 8   YEAR_added       406 non-null    float64
 9   release_year     406 non-null    int64
 10  rating           405 non-null    object
 11  duration         406 non-null    object
 12  TYPE1/listed_in  406 non-null    object
 13  TYPE2            321 non-null    object
 14  TYPE3            201 non-null    object
 15  description      406 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 53.9+ KB

In [8]:
netflix_tvshows2019 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2019]
netflix_shows2019 = pd.DataFrame(netflix_tvshows2019)
netflix_shows2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 639 entries, 12 to 7779
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          639 non-null    object
 1   type             639 non-null    object
 2   title            639 non-null    object
 3   director         35 non-null     object
 4   cast             567 non-null    object
 5   country          556 non-null    object
 6   country.1        45 non-null     object
 7   country.2        9 non-null      object
 8   YEAR_added       639 non-null    float64
 9   release_year     639 non-null    int64
 10  rating           639 non-null    object
 11  duration         639 non-null    object
 12  TYPE1/listed_in  639 non-null    object
 13  TYPE2            535 non-null    object
 14  TYPE3            341 non-null    object
 15  description      639 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 84.9+ KB

In [9]:
netflix_tvshows2020 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2020]
netflix_shows2020 = pd.DataFrame(netflix_tvshows2020)
netflix_shows2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 696 entries, 0 to 7785
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          696 non-null    object
 1   type             696 non-null    object
 2   title            696 non-null    object
 3   director         74 non-null     object
 4   cast             596 non-null    object
 5   country          638 non-null    object
 6   country.1        66 non-null     object
 7   country.2        20 non-null     object
 8   YEAR_added       696 non-null    float64
 9   release_year     696 non-null    int64
 10  rating           696 non-null    object
 11  duration         696 non-null    object
 12  TYPE1/listed_in  696 non-null    object
 13  TYPE2            533 non-null    object
 14  TYPE3            313 non-null    object
 15  description      696 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 92.4+ KB

In [10]:
netflix_tvshows2021 = netflix_tvshows_df.loc[netflix_tvshows_df["YEAR_added"]==2021]
netflix_shows2021 = pd.DataFrame(netflix_tvshows2021)
netflix_shows2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 980 to 6701
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          29 non-null     object
 1   type             29 non-null     object
 2   title            29 non-null     object
 3   director         4 non-null      object
 4   cast             24 non-null     object
 5   country          24 non-null     object
 6   country.1        3 non-null      object
 7   country.2        1 non-null      object
 8   YEAR_added       29 non-null     float64
 9   release_year     29 non-null     int64
 10  rating           29 non-null     object
 11  duration         29 non-null     object
 12  TYPE1/listed_in  29 non-null     object
 13  TYPE2            23 non-null     object
 14  TYPE3            10 non-null     object
 15  description      29 non-null     object
dtypes: float64(1), int64(1), object(14)
memory usage: 3.9+ KB